{% extends 'base.html' %}

{% block head %}
<title>Mine Sweeper - {{ data_body.difficulty }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/game_html.css')}}"">
<style>
    #game_board {
        width: 75vmin;
        height: 75vmin;
        display: grid;
        grid-template-rows: repeat({{ data_body.field_size }}, 1fr);
        grid-template-columns: repeat({{ data_body.field_size }}, 1fr);
        background-color: rgb(178, 178, 178);
        border: 0.5px solid black;
    }
</style>
{% endblock %}

{% block body %}
<div class="main_container">
    <div id="game_board">
        {% for index in range(data_body.field_size * data_body.field_size) %}
        <div class="game_square" id="game_square_{{ index }}" onmousedown="handleClick({{ index }}, event)"></div>
        {% endfor %}
    </div>
</div>

<script src="/static/js/script.js"></script>
{% endblock %}